In [ ]:
import warnings
import numpy as np
import pandas as pd

from sklearn.metrics import roc_auc_score
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from genetic_selection import GeneticSelectionCV
warnings.simplefilter("ignore")

## Загрузка и предобработка данных

In [ ]:
train = pd.read_csv("train.csv")
valid = pd.read_csv("valid.csv")

## Обработка категориальных переменных

In [ ]:
categorical_features = train.select_dtypes(include=["object"])
categorical_features = categorical_features.columns.tolist()

In [ ]:
# OneHotEncoding
train_categorical = pd.get_dummies(train[categorical_features].fillna("NA"))
valid_categorical = pd.get_dummies(valid[categorical_features].fillna("NA"))

## Обрабокта числовых переменных

In [ ]:
numeric_features = train.select_dtypes(exclude=["object"])
numeric_features = numeric_features.drop(["TARGET", "SK_ID_CURR"], axis=1)
numeric_features = numeric_features.columns.tolist()

In [ ]:
# (x - x.mean()) / x.std()
scaler = StandardScaler()
train_numeric = scaler.fit_transform(train[numeric_features].fillna(0))
valid_numeric = scaler.transform(valid[numeric_features].fillna(0))

## Объединение числовых и категориальных переменных

In [ ]:
X_train = pd.DataFrame(train_numeric, columns=numeric_features)
X_valid = pd.DataFrame(valid_numeric, columns=numeric_features)

X_train = pd.concat([X_train, train_categorical], axis=1)
X_valid = pd.concat([X_valid, valid_categorical], axis=1)

In [ ]:
y_train, y_valid = train["TARGET"], valid["TARGET"]
X_train = X_train.drop("NAME_FAMILY_STATUS_Unknown", axis=1)

In [ ]:
print("train.shape: {} rows, {} cols".format(*X_train.shape))
print("valid.shape: {} rows, {} cols".format(*X_valid.shape))

train.shape: 184506 rows, 249 cols
valid.shape: 123005 rows, 249 cols

## Обучение базовой модели

In [ ]:
model = LogisticRegression(
    penalty="l2", C=0.001
)
model.fit(X_train, y_train)

LogisticRegression(C=0.001, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
y_pred = model.predict_proba(X_valid)
score = roc_auc_score(y_valid, y_pred[:, 1])

print(f"Baseline score: {round(score, 4)}")

Baseline score: 0.7284

## Отбор признаков с помощью генетики

__Описание объекта `GeneticSelectionCV`__:

* max_features - максимальное количество отобранных переменных;
* n_population - размер популяции генетического алгоритма;
* crossover_proba - вероятность для осуществления кроссовера;
* mutation_proba - вероятность для осуществления мутации;
* n_generations - количество итераций генетического алгоритма;

In [ ]:
selector = GeneticSelectionCV(
    estimator,
    cv=5,
    verbose=1,
    scoring="roc_auc",
    max_features=50,
    n_population=249,
    crossover_proba=0.5,
    mutation_proba=0.2,
    n_generations=50,
    crossover_independent_proba=0.5,
    mutation_independent_proba=0.05,
    tournament_size=3,
    n_gen_no_change=5,
    caching=True,
    n_jobs=-1
)

In [ ]:
selector = selector.fit(X_train.fillna(0), y_train)

Selecting features with genetic algorithm.
gen	nevals	avg                              	std                    	min              	max
0  	249   	[-10000.            124.40963855]	[0.         8.01860709]	[-10000.    105.]	[-10000.    149.]
1  	147   	[-10000.            118.00401606]	[0.         5.83680195]	[-10000.     97.]	[-10000.    137.]
2  	138   	[-10000.            113.36546185]	[0.         4.92666826]	[-10000.     97.]	[-10000.    133.]
3  	149   	[-10000.            109.80321285]	[0.         5.15204854]	[-10000.     97.]	[-10000.    126.]
4  	146   	[-10000.            106.04016064]	[0.         5.01947948]	[-10000.     90.]	[-10000.    121.]
5  	167   	[-10000.            102.14457831]	[0.         5.66777517]	[-10000.     84.]	[-10000.    118.]
6  	158   	[-10000.             97.73092369]	[0.         5.44817566]	[-10000.     84.]	[-10000.    116.]
7  	159   	[-10000.             94.30522088]	[0.         5.39626645]	[-10000.     79.]	[-10000.    108.]
8  	168   	[-10000.             91.02811245]	[0.         6.24364841]	[-10000.     75.]	[-10000.    109.]
9  	155   	[-10000.             86.57028112]	[0.         5.75155648]	[-10000.     68.]	[-10000.    109.]
10 	147   	[-10000.             83.10040161]	[0.         5.42435752]	[-10000.     65.]	[-10000.    101.]
11 	142   	[-10000.             80.07630522]	[0.         5.56363342]	[-10000.     65.]	[-10000.     97.]
12 	166   	[-10000.             76.22088353]	[0.         5.46946669]	[-10000.     61.]	[-10000.     92.]
13 	151   	[-10000.             72.85943775]	[0.         5.54719811]	[-10000.     58.]	[-10000.     96.]
14 	159   	[-10000.             69.52610442]	[0.        5.6526215]  	[-10000.     52.]	[-10000.     85.]
15 	154   	[-10000.            65.8875502]  	[0.         5.59361778]	[-10000.     52.]	[-10000.     86.]
16 	137   	[-10000.             62.70281124]	[0.         4.93085036]	[-10000.     52.]	[-10000.     79.]
17 	155   	[-9839.3470703     59.67068273]  	[1257.30805056    5.09941172]	[-10000.     47.]	[ 0.6771605 74.       ]
18 	136   	[-9036.08103213    56.51405622]  	[2951.38703087    4.97955692]	[-10000.     41.]	[ 0.68332177 73.        ]
19 	137   	[-7670.52891386    53.63052209]  	[4227.27022943    5.0942948 ]	[-10000.     41.]	[ 0.68764416 73.        ]
20 	154   	[-5341.0589589     51.12449799]  	[4988.66154575    5.20470152]	[-10000.     37.]	[ 0.68995009 65.        ]
21 	163   	[-3493.54337396    50.00803213]  	[4768.11430425    4.93491126]	[-10000.     38.]	[ 0.68995009 69.        ]
22 	150   	[-2971.41233548    49.36947791]  	[4.57051250e+03 4.34367381e+00]	[-10000.     39.]	[ 0.70683645 63.        ]
23 	142   	[-2609.93938092    49.08835341]  	[4392.33815186    4.66123733]  	[-10000.     38.]	[ 0.69248579 63.        ]
24 	143   	[-2409.11973537    48.65863454]  	[4276.97650186    4.64307747]  	[-10000.     37.]	[ 0.69322048 63.        ]
25 	142   	[-2368.95422156    48.45381526]  	[4252.39172373    4.47560046]  	[-10000.     38.]	[ 0.71374655 64.        ]
26 	150   	[-2368.95253738    48.42971888]  	[4252.39266224    4.30140543]  	[-10000.     39.]	[ 0.71411186 68.        ]
27 	126   	[-1967.31673604    47.93574297]  	[3975.97536495    4.61313468]  	[-10000.     36.]	[ 0.71552148 64.        ]
28 	129   	[-1485.35397357    47.52610442]  	[3557.12829862    4.3446317 ]  	[-10000.     36.]	[ 0.71552148 61.        ]
29 	163   	[-2127.96494105    47.92771084]  	[4093.52002011    4.73332999]  	[-10000.     38.]	[ 0.71645985 65.        ]
30 	151   	[-2208.28808033    47.65863454]  	[4148.71275849    5.02043372]  	[-10000.     36.]	[ 0.71645985 64.        ]
31 	142   	[-1605.83183557    47.12851406]  	[3672.2692663     4.77354135]  	[-10000.     33.]	[ 0.71649126 64.        ]
32 	142   	[-2047.6267207     47.34538153]  	[4035.9822753     4.78715533]  	[-10000.     36.]	[ 0.71709705 62.        ]
33 	138   	[-1766.48046165    46.70682731]  	[3814.4763637     4.88650235]  	[-10000.     35.]	[ 0.7176034 63.       ]
34 	147   	[-1886.9704639     47.04417671]  	[3913.4185683     5.04219706]  	[-10000.     36.]	[ 0.71766393 65.        ]
35 	159   	[-2489.42314401    48.15261044]  	[4324.62382031    5.30976247]  	[-10000.     36.]	[ 0.71926207 63.        ]
36 	144   	[-2007.46006891    47.38955823]  	[4006.29826228    4.97835187]  	[-10000.     35.]	[ 0.71926207 64.        ]
37 	149   	[-2127.95052179    47.79518072]  	[4093.52751823    4.75865486]  	[-10000.     38.]	[ 0.71897581 61.        ]
38 	145   	[-1886.96891352    47.74698795]  	[3913.41931614    4.6383508 ]  	[-10000.     38.]	[ 0.72007623 63.        ]
39 	149   	[-1886.96827025    47.79518072]  	[3913.41962643    4.61469376]  	[-10000.     36.]	[ 0.72065483 64.        ]
40 	157   	[-2168.11253891    47.84337349]  	[4121.41182244    4.56936348]  	[-10000.     36.]	[ 0.72065483 62.        ]
41 	138   	[-2569.74738253    48.45381526]  	[4370.26429617    4.79613251]  	[-10000.     38.]	[ 0.72182525 64.        ]
42 	150   	[-2047.62135057    47.73092369]  	[4035.98500074    4.61574566]  	[-10000.     38.]	[ 0.72182525 62.        ]
43 	149   	[-1967.29370468    47.30923695]  	[3975.98676489    4.93051671]  	[-10000.     37.]	[ 0.72224593 66.        ]
44 	143   	[-2047.62026629    47.31325301]  	[4035.98555103    5.06565975]  	[-10000.     38.]	[ 0.7227977 67.       ]
45 	151   	[-2007.45619463    47.24497992]  	[4006.30020428    4.95767476]  	[-10000.     36.]	[ 0.72282689 63.        ]
46 	158   	[-1806.63803111    47.18473896]  	[3848.16171793    4.94690768]  	[-10000.     36.]	[ 0.72289879 64.        ]
47 	141   	[-1806.63760194    47.93172691]  	[3848.1619195     4.63955378]  	[-10000.     37.]	[ 0.72307445 64.        ]
48 	137   	[-2007.45525157    48.58232932]  	[4006.30067699    4.77214232]  	[-10000.     39.]	[ 0.72312675 65.        ]
49 	142   	[-2168.10931079    48.66666667]  	[4121.41352119    4.24516419]  	[-10000.     39.]	[ 0.72339219 67.        ]
50 	134   	[-1806.63718644    48.76706827]  	[3848.16211464    4.0362265 ]  	[-10000.     38.]	[ 0.72415403 66.        ]

In [ ]:
selector.support_

## Проверим модельку на отобранных признаках

In [ ]:
selected_features = X_train.columns[selector.support_]
X_train[selected_features].head(n=2)

,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,OWN_CAR_AGE,REGION_RATING_CLIENT_W_CITY,...,ORGANIZATION_TYPE_Bank,ORGANIZATION_TYPE_Business Entity Type 3,ORGANIZATION_TYPE_Industry: type 5,ORGANIZATION_TYPE_Military,ORGANIZATION_TYPE_Self-employed,ORGANIZATION_TYPE_Trade: type 1,ORGANIZATION_TYPE_Transport: type 3,ORGANIZATION_TYPE_University,WALLSMATERIAL_MODE_Mixed,COMMUNICATION_TYPE_PUSH
0,-0.576826,-0.300016,-0.369717,0.007297,-0.237377,-0.579955,-0.47426,0.558594,1.542072,-0.065096,...,0,0,0,0,0,0,0,0,0,1
1,0.804780,0.225010,-0.753393,-1.090716,-0.931573,-0.101438,-0.45729,0.524575,-0.456493,-0.065096,...,0,0,0,0,1,0,0,0,0,0

In [ ]:
model = LogisticRegression(
    penalty="l2", C=0.001
)
model.fit(X_train[selected_features], y_train)

LogisticRegression(C=0.001, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
y_pred = model.predict_proba(X_valid[selected_features])
score = roc_auc_score(y_valid, y_pred[:, 1])

print(f"Baseline score: {round(score, 4)}")

Baseline score: 0.7245